@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<br />
<br />
<br />
<br />
<div class="login-popup-wrap new_login_popup">
    <div class="login-popup-heading">
        <h2><i class="fa fa-lock" aria-hidden="true"></i> Login </h2>
    </div>

    <!--<form accept-charset="utf-8" method="post" action="">-->
    <form id="account" role="form" action="" method="post">


        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            @*<label asp-for="Input.Email"></label>*@
            <input asp-for="Input.Email" class="form-control" placeholder="E-mail Address" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            @*<label asp-for="Input.Password"></label>*@
            <input asp-for="Input.Password" class="form-control" placeholder="Password" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="form-group-customized">
            <div class="checkbox text-center">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <br />

        @*<button type="submit" class="btn btn-default login-popup-btn" name="submit" value="1">Login</button>*@
        <div class="form-group-customized text-center">
            <button type="submit" class="btn btn-login">Log in</button>
        </div>

    </form>

    <br />
    <div class="form-group-customized text-center">
        <p>
            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
        </p>
        <p>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
        </p>
    </div>
</div>

    <div style="line-height:3300%;">
        <br>
    </div>


    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
