@page
@model RegisterModel
@{
    ViewData["Title"] = "Create an Account";
}

<br /><br />
    <section class="login-block">
        <div class="container">
            <div class="row">
                <div class="col-md-4 login-sec">
                    <h2 class="text-center">Create an Account</h2>
                    <form class="login-form" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Input.FirstName"></label>
                            <input asp-for="Input.FirstName" class="form-control" />
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.LastName"></label>
                            <input asp-for="Input.LastName" class="form-control" />
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.Phone"></label>
                            @*<input asp-for="Input.Phone"  class="form-control" id="textarea" name="textarea" rows="4" />*@
                            <input asp-for="Input.Phone"  class="form-control" />
                           
                            <span asp-validation-for="Input.Phone" class="text-danger"></span>

                        </div>

                        <div class="form-group">
                            <label asp-for="Input.Address"></label>
                           <textarea rows="4" input asp-for="Input.Address" class="form-control" /></textarea>
                             @*<textarea asp-for="Input.Address" class="form-control"name="textarea" rows="4"></textarea>*@
                            <span asp-validation-for="Input.Address" class="text-danger"></span>
                        </div>

                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.ConfirmPassword"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>

                            <br />

                                <button type="submit" class="btn btn-login" >Create New Account</button>


                        </form>

                    </div>
                    <div class="col-md-8 banner-sec">
                        <br />
                        <br />
                        <br />
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel5-item active">
                                    <img class="d-block img-fluid" src="~/css/images/register1.jpg" alt="First slide">
                                    <div class="carousel-caption d-none d-md-block">

                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block img-fluid" src="~/css/images/register2.jpg" alt="First slide">
                                    <div class="carousel-caption d-none d-md-block">

                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block img-fluid" src="~/css/images/register3.jpg" alt="First slide">
                                    <div class="carousel-caption d-none d-md-block">

                                    </div>
                                </div>

                                <div>
                                    <br />
                                    <br />
                                    @*<h4> <strong>Terms and Conditions</strong></h4>*@
                                    @*<p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        </p>*@

                                    @*<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">*@
                                        <h4 >GENERAL TERMS</h4>
                                        <p>
                                            @*By accessing and placing an order with, you confirm that you are in agreement with and bound by the terms of service contained in the Terms & Conditions outlined below These terms apply to the entire website and any email or other type of communication.*@ 
                                            Under no circumstances shall the team be liable for any direct, indirect special, incidental, or consequential damages, including, but not limited to, loss of data or profit, arising out of the use, or the inability to use, the materials on this site, even if the team or an authorized representative has been advised of the possibility of such damages. 
                                            @*If your use of materials from this site results in the need for servicing; repair or correction of equipment or data, you assume any costs thereof.
                                            will not be responsible for any outcome that may occur during usage of our resources. We reserve the rights to change prices and reuse the resources usage policy at any moment.*@

                                        </p>
                                        @*<h4 >LICENSE</h4>
                                        <p>Vet.Net grants you a revocable, non-exclusive, non-transferable, limited license to download, install and use our service strictly by the terms of this Agreement. These Terms & Conditions are a contract between you and Vet.Net the provider of the Vet Net website, and the services accessible from the Vet.Net website. You are agreeing to be bound by these Terms & Conditions. If you do not agree to these Terms & Conditions, please do not use the Service In these Terms & Conditions, '"you" refers both to you as an individual and to the entity you represent If you violate any of these Terms & Conditions, we reserve the right to cancel your account or block access to your account without notice.</p>
                                        <h4 id="one">SUGGESTIONS</h4>
                                        <p>
                                            Any feedback, comments, ideas, improvements, or suggestions provided by you to us concerning the service shall remain the sole and exclusive property of us. We shall be free to use, copy modify, publish, or redistribute the
                                            Suggestions for any purpose and in any way without any credit or any compensation to you.

                                        </p>
                                        <h4 >UPDATE ON TERMS AND CONDITIONS</h4>
                                        <p>
                                            We've updated our Terms & Conditions to provide you with complete transparency into what is being set when you visit our site and how it's being used. By using our service, registering an account, or making a purchase, you hereby consent to our Terms & Conditions.

                                        </p>
                                        <h4 >AMENDS TO THE AGREEMENT</h4>
                                        <p>We reserve the right, at its sole discretion; to modify or replace this Agreement at any time. If a revision is material we will provide at least 30 days' notice before any new terms taking effect. What constitutes a material change Will be determined at our sole discretion. By continuing to access or use our Service after any revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, you are no longer authorized to use our service.</p>*@
                                    </div>



                                    @*<div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                <small>I Agree to the Terms and Conditions</small>
            </label>

        </div>*@
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div style="line-height:3300%;">
            <br>
        </div>


        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
