<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vet.Net</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/55bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>

    <div class="header">
        <h1 class="text-center homepage-header">VET . NET</h1>

        <h4>
            <a href="#aboutus">About</a> &nbsp;&nbsp;
            <a href="#programsoffered">Programs Offered</a> &nbsp;&nbsp;
            <a href="#">Contact Us</a> &nbsp;&nbsp;
            <a href="#faqs">FAQ</a> &nbsp;&nbsp;
            <a href="C:\Users\PATRICIA LIM\Desktop\project-vetnet\Vet.Net\Views\UserProfile\Index.cshtml">User Profile</a> &nbsp;&nbsp;
        </h4>
    </div>


    @*<div class="footer">
            <p><span>News</span> and <span>announcements</span> for all things <span>Bootstrap</span>, including new <span>releases</span> and <span>Bootstrap Themes</span>.</p>
        </div>*@
    <div class="footer">
        <footer class="section footer-classic context-dark bg-image" style="background: #bebebe;">
            <div class="container">
                <div class="row row-30">
                    <div class="col-md-4 col-xl-5">
                        <div class="pr-xl-4">
                            <h4>OPENING HOURS</h4>
                            <p><strong>Monday- Friday : </strong>9 AM - 8PM PHT</p>
                            <p><strong>Saturday: </strong>10 AM - 2PM PHT</p>
                            <p><strong>Sunday: </strong>CLOSED</p>
                            <p>Our top priority is to give our best services to 
                            <br />your pet’s health. We are here for you every step 
                            <br />of the way when it comes to your pets' health.</p>
                            <!-- Rights-->
                            @*<p class="rights"><span>©  </span><span class="copyright-year">2021</span><span> </span><span>VET.NET</span><span>. </span><span>All Rights Reserved.</span></p>*@
                            <strong><p>© 2021 VET.NET All Rights Reserved.</p></strong>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4>CONTACTS</h4>
                            <p><strong>address:</strong></p>
                            <p>Manila, Philippines</p>
                        <br/>
                            <p><strong>email:</strong></p>
                            <p><a href="mailto:#">entprog.vet.net@gmail.com</a></p>

                            @*<p><strong>phones:</strong></p>
                            <p><a href="mailto:#">vet.net@gmail.com</a></p>*@

                                
                    </div>
                    <div class="col-md-4 col-xl-3">
                        <h4>LINKS</h4>

                            <ul class="nav-list">
                                <strong><li><a href="#">About</a></li></strong>
                                <strong><li><a href="#">Programs Offered</a></li></strong>
                                <strong><li><a href="#">Contact Us</a></li></strong>
                                <strong><li><a href="#">FAQS</a></li></strong>
                                <strong><li><a href="#">User Profile</a></li></strong>
                            </ul>

                    </div>
                </div>
            </div>
    </div>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>