
@{
    ViewData["Title"] = "Homepage";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid home-main">
    <img src="/Image/vet.net_home(top).png" />
    <div class="centered"><h2>Welcome to Vet.Net</h2></div>
    <button type="button" class="btn btn-default">About Us</button>
</div>
<div class="container-fluid home-content1">
    <div class="row">
        <div class="col-md-6 content1-left">
            <img src="/Image/vet.net_contact(mid).png" />
        </div>
        <div class="col-md-6 content1-right">
            <h3>About Vet.Net </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</div>
<div class="container-fluid home-content1">
    <div class="row">
        <div class="col-md-6 content1-right">
            <h3>More Information of Vet.Net </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col-md-6 content1-left">
            <img src="/Image/vet.net_home(bottom).png" />
        </div>
    </div>
</div>
<div class="container-fluid home-content2">
    <p>2021 Vet.Net Presented by ENTPROG Group</p>
</div>

