@{
    ViewData["Title"] = "Home Page";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<br />
<br />

<div class="container-header">
    <img src="~/css/images/homepage-bg.jpg" />
    <h2 class="centered-text">Welcome to Vet Net</h2>
    <a href="~/Home/Index/#aboutus">
        <button type="button" class="btn btn-programs centered-programs">View Profile</button>
    </a>
</div>
<br />

<div id="aboutus" class="container-header">

    <div class="aboutus-bg">
        <img src="~/css/images/vet.net_home(mid).JPG" style="float:left; width:630px;height:540px;padding: 50px 50px 50px 50px;" />
        <h3 class="text-center" style="padding: 50px 50px 10px 100px;">ABOUT US</h3>
        <p style="padding: 20px 50px 50px 50px;">
            Our clinic provide a full range of medical care and treatment of animals.
            We will lessen the inconvenience of receiving calls and flood of requests from their pet owners.
            All pet owners who booked for a slot are on a first-come, first-serve basis where a confirmation
            will be sent to their email once they have secured the slot. With this web application of Vet Net,
            pet patients and their owners won’t have to keep waiting in line for hours but they are as well
            following the COVID-19 regulations. Not only patients would be benefiting from this but also doctors
            would have an organized schedule as well.
        </p>
    </div>
</div>

<br />
<br />
<br />
@* Programs Offered *@
<strong><h1 id="programsoffered"class="text-center homepage-subheading">PROGRAMS OFFERED</h1></strong>

@* Medication 1 *@
<div class="row bg-programs">
    <div class="col-md-6 content1-left-img">
        <img src="~/css/images/vet.net_program(1).JPG" />
    </div>
    <div class="col-md-6 content1-right-text">
        <h3 class="text-center">Clinical services</h3>
        <p class="text-center">
            Treatment of diseased animals and control of production limiting disorders. Including Physical
            and laboratory check up.
        </p>

        <a href="~/ReservationForm/Create">
            <button type="button" class="btn btn-programs centered-programs">Book an Appointment</button>
        </a>
        @*<button type="button"><a href="~/Home/Index/#aboutus" class="btn btn-programs centered-programs">Book an Appointment</a></button>*@
    </div>
</div>


<br />

@* Medication 2 *@

<div class="row bg-programs">
    <div class="col-md-6 content1-left-text">
        <h3 class="text-center">Deworming</h3>
        <p class="text-center">
            Oral and Injectable Deworming
        </p>
        <a href="~/ReservationForm/Create">
            <button type="button" class="btn btn-programs centered-programs">Book an Appointment</button>
        </a>
    </div>
    <div class="col-md-6 content1-right-img">
        <img src="~/css/images/vet.net_petbooklet.JPG" />

    </div>


</div>

<br />

@* Medication 3 *@
<div class="row bg-programs">
    <div class="col-md-6 content1-left-img">
        <img src="~/css/images/vet.net_program(3).JPG" />
    </div>
    <div class="col-md-6 content1-right-text">
        <h3 class="text-center">Preventive services</h3>
        <p class="text-center">
            Avoiding the outbreak of diseases.
        </p>
        <a href="~/ReservationForm/Create">
            <button type="button" class="btn btn-programs centered-programs">Book an Appointment</button>
        </a>
    </div>
</div>

<br />

@* Medication 4 *@

<div class="row bg-programs">
    <div class="col-md-6 content1-left-text">
        <h3 class="text-center">Provisions of Products (Vaccination, Drugs)</h3>
        <p class="text-center">
            4n1 vaccine, anti rabies vaccine, kennel cough (Prevention for pneumonia), 5n1 vaccine (Prevention for distemper virus, hepatitis parainfluenza, parvo virus  leptospirosis),
            6n1 vaccine (All components in 5 in 1 vaccine plus coronavirus)
        </p>
        <a href="~/ReservationForm/Create">
            <button type="button" class="btn btn-programs centered-programs">Book an Appointment</button>
        </a>
    </div>
    <div class="col-md-6 content1-right-img">
        <img src="~/css/images/vet.net_program(2).JPG" />

    </div>
</div>

<br />
<br />
<br />

@* FAQs*@
<strong><h1 id="faqs" class="text-center homepage-subheading">FREQUENTLY ASKED QUESTIONS</h1></strong>

@* FAQ 1 *@
<div class="faqs-bg">
    <div class="row bg-programs">
        <div class="col-md-6 content2-left">
            <h5 class="text-left"><br /><br />Should I make an appointment?</h5>
        </div>
        <div class="col-md-6 content2-right-text">
            <p>
                <br />
                Yes, unless it is an emergency.
                Regarding our programs offered, please contact us first and we advise you of the best option for your pet.
                Can I see a specific veterinarian?
                If you would like to see a specific vet, please ensure you let us know when booking your appointment.
                <br /><br />
            </p>
        </div>
    </div>


    <br />

    @* FAQ 2 *@

    <div class="row bg-programs">
        <div class="col-md-6 content2-left">
            <h5 class="text-left"><br /><br />Do I need to call before bringing an emergency patient to the clinic?</h5>
        </div>
        <div class="col-md-6 content2-right-text">
            <p>
                <br />
                Yes, but we understand it is not always possible. We prefer you to phone us, so we can provide first aid advice and explain what may happen during your journey.
                Staff can also prepare equipment and services to ensure your animal is able to obtain prompt emergency care when it arrives.
                <br /><br />
            </p>
        </div>
    </div>

    <br />

    @* FAQ 3 *@
    <div class="row bg-programs">
        <div class="col-md-6 content2-left">
            <h5 class="text-left"><br /><br />How often should I get my pet a check up?</h5>
        </div>
        <div class="col-md-6 content2-right-text">
            <p>
                <br />
                At the very least, once a year. Your veterinarian will conduct a health check on all animals that need annual vaccines.
                A wellness check can be extremely helpful in finding any noticeable or ongoing health problems in any pet. Do not hesitate to schedule an appointment if your pet is displaying early signs or symptoms.
                Early treatment has a higher chance of a better outcome.
                <br /><br />
            </p>
        </div>
    </div>
</div>
<div style="line-height:3300%;">
    <br>
</div>

